<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/blog/css/style.css">
  <link rel="stylesheet" href="/blog/css/content_style.css">
</head>

<body>
  <div class="all_style">
    <div class='content'>
      {{ content }}
    </div>
    <div class="cbl">
      <!-- 侧边栏 -->

    </div>
  </div>



  this is footer

</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/index1.js"></script>
</html>